In [13]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/APPLICATION/TfL_Traffic_Data/Bus_Stops.csv')
df

,X,Y,OBJECTID,STOP_NAME,STOP_CODE,COUNTDOWN_SIGN,NAPTAN_ATCO,ROAD_NAME,POINT_LETTER,ROUTES,LIVE_BUS_ARRIVAL,OS_EASTING,OS_NORTHING,POSTCODE,DATE_UPDATED
0,534761.0,191137.000000,627,Northumberland Park Bus Stand,BP4641,NaN,NaN,NORTHUMBERLAND PARK,NaN,NaN,https://tfl.gov.uk/bus/stop//,534761,191137,N17 0LB,2023/08/09 00:00:00+00
1,528623.0,179941.000000,780,Hyde Park Corner,BP4661,NaN,NaN,PICCADILLY,NaN,NaN,https://tfl.gov.uk/bus/stop//,528623,179941,W1J 9DZ,2023/08/09 00:00:00+00
2,515372.0,168407.000000,2401,Hampton Court Station,BP5447,NaN,NaN,HAMPTON COURT STATION FORECOURT,AP,NaN,https://tfl.gov.uk/bus/stop//,515372,168407,KT8 9AE,2023/08/09 00:00:00+00
3,535302.0,168966.000000,2951,Birkbeck,TRS162,NaN,9400ZZCRBIR1,HARRINGTON ROAD - BIRKBECK,NaN,T2,https://tfl.gov.uk/bus/stop/9400ZZCRBIR1/,535302,168966,SE20 7YA,2023/08/09 00:00:00+00
4,535744.0,169323.000000,3016,Avenue Road,TRS164,NaN,9400ZZCRAVE1,AVENUE ROAD,NaN,T2,https://tfl.gov.uk/bus/stop/9400ZZCRAVE1/,535744,169323,BR3 4SB,2023/08/09 00:00:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21403,543515.0,172764.999999,5243522,Hail Ride Section,HC85,NaN,490018786S,GREEN LANE,NaN,B13,https://tfl.gov.uk/bus/stop/490018786S/,543515,172765,SE9 3SZ,2024/12/11 00:00:00+00
21404,522702.0,177827.000000,5243523,Hail Ride Section,HC96,NaN,490009353E,LONSDALE ROAD,NaN,"419, 533",https://tfl.gov.uk/bus/stop/490009353E/,522702,177827,SW13 9EB,2024/12/11 00:00:00+00
21405,521610.0,176543.000000,5243524,Hail Ride Section,HC97,NaN,490003631S,LONSDALE ROAD,NaN,419,https://tfl.gov.uk/bus/stop/490003631S/,521610,176543,SW13 9PY,2024/12/11 00:00:00+00
21406,523429.0,196121.000000,5243525,Hail Ride Barnet Hospital A&e Dept,HC88,NaN,490003655Z,WELLHOUSE LANE,NaN,384,https://tfl.gov.uk/bus/stop/490003655Z/,523429,196121,EN5 3DG,2024/12/11 00:00:00+00
21407,528013.0,196204.000000,5243526,Hail Ride Belmont Avenue,HC91,NaN,490020358E,MOUNT PLEASANT,NaN,384,https://tfl.gov.uk/bus/stop/490020358E/,528013,196204,EN4 9LS,2024/12/11 00:00:00+00

In [14]:
# Check for missing values
print(df.isnull().sum())

X                       0
Y                       0
OBJECTID                0
STOP_NAME              32
STOP_CODE               0
COUNTDOWN_SIGN      21408
NAPTAN_ATCO          1228
ROAD_NAME               0
POINT_LETTER         7236
ROUTES               1225
LIVE_BUS_ARRIVAL        0
OS_EASTING              0
OS_NORTHING             0
POSTCODE               18
DATE_UPDATED          723
dtype: int64

## Data Cleaning and Preprocessing

In [15]:
df = df.drop('COUNTDOWN_SIGN', axis=1)

In [16]:
df = df.drop('POINT_LETTER', axis=1)

In [18]:
# Fill missing values for 'STOP_NAME' with 'Unknown'
df['STOP_NAME'].fillna('Unknown', inplace=True)

# Fill missing values for 'ROUTES' with 'Unknown'
df['ROUTES'].fillna('Unknown', inplace=True)

# Fill missing values for 'NAPTAN_ATCO' with 'Unknown'
df['NAPTAN_ATCO'].fillna('Unknown', inplace=True)

# Fill missing values for 'POSTCODE' with 'Unknown'
df['POSTCODE'].fillna('Unknown', inplace=True)

# Fill missing values for 'DATE_UPDATED' with the most frequent date
most_frequent_date = df['DATE_UPDATED'].mode()[0]
df['DATE_UPDATED'].fillna(most_frequent_date, inplace=True)

# Verify if missing values are filled
print(df.isnull().sum())

X                   0
Y                   0
OBJECTID            0
STOP_NAME           0
STOP_CODE           0
NAPTAN_ATCO         0
ROAD_NAME           0
ROUTES              0
LIVE_BUS_ARRIVAL    0
OS_EASTING          0
OS_NORTHING         0
POSTCODE            0
DATE_UPDATED        0
dtype: int64

<ipython-input-18-d4f0e0b23ed2>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['POSTCODE'].fillna('Unknown', inplace=True)
<ipython-input-18-d4f0e0b23ed2>:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['DATE_UPDATED'].fillna(most_frequent_date, inplace=True)

In [20]:
# Convert 'DATE_UPDATED' to datetime format
df['DATE_UPDATED'] = pd.to_datetime(df['DATE_UPDATED'], errors='coerce')

# Fill any remaining NaT values (if the conversion failed for some rows)
df['DATE_UPDATED'].fillna(pd.to_datetime(most_frequent_date), inplace=True)

<ipython-input-20-2c0081ceee6b>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['DATE_UPDATED'].fillna(pd.to_datetime(most_frequent_date), inplace=True)

In [21]:
# Save the cleaned DataFrame to a new CSV file
df.to_csv('/content/drive/MyDrive/APPLICATION/TfL_Traffic_Data/cleaned_Bus_Stops.csv', index=False)

In [22]:
df

,X,Y,OBJECTID,STOP_NAME,STOP_CODE,NAPTAN_ATCO,ROAD_NAME,ROUTES,LIVE_BUS_ARRIVAL,OS_EASTING,OS_NORTHING,POSTCODE,DATE_UPDATED
0,534761.0,191137.000000,627,Northumberland Park Bus Stand,BP4641,Unknown,NORTHUMBERLAND PARK,Unknown,https://tfl.gov.uk/bus/stop//,534761,191137,N17 0LB,2023-08-09 00:00:00+00:00
1,528623.0,179941.000000,780,Hyde Park Corner,BP4661,Unknown,PICCADILLY,Unknown,https://tfl.gov.uk/bus/stop//,528623,179941,W1J 9DZ,2023-08-09 00:00:00+00:00
2,515372.0,168407.000000,2401,Hampton Court Station,BP5447,Unknown,HAMPTON COURT STATION FORECOURT,Unknown,https://tfl.gov.uk/bus/stop//,515372,168407,KT8 9AE,2023-08-09 00:00:00+00:00
3,535302.0,168966.000000,2951,Birkbeck,TRS162,9400ZZCRBIR1,HARRINGTON ROAD - BIRKBECK,T2,https://tfl.gov.uk/bus/stop/9400ZZCRBIR1/,535302,168966,SE20 7YA,2023-08-09 00:00:00+00:00
4,535744.0,169323.000000,3016,Avenue Road,TRS164,9400ZZCRAVE1,AVENUE ROAD,T2,https://tfl.gov.uk/bus/stop/9400ZZCRAVE1/,535744,169323,BR3 4SB,2023-08-09 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21403,543515.0,172764.999999,5243522,Hail Ride Section,HC85,490018786S,GREEN LANE,B13,https://tfl.gov.uk/bus/stop/490018786S/,543515,172765,SE9 3SZ,2024-12-11 00:00:00+00:00
21404,522702.0,177827.000000,5243523,Hail Ride Section,HC96,490009353E,LONSDALE ROAD,"419, 533",https://tfl.gov.uk/bus/stop/490009353E/,522702,177827,SW13 9EB,2024-12-11 00:00:00+00:00
21405,521610.0,176543.000000,5243524,Hail Ride Section,HC97,490003631S,LONSDALE ROAD,419,https://tfl.gov.uk/bus/stop/490003631S/,521610,176543,SW13 9PY,2024-12-11 00:00:00+00:00
21406,523429.0,196121.000000,5243525,Hail Ride Barnet Hospital A&e Dept,HC88,490003655Z,WELLHOUSE LANE,384,https://tfl.gov.uk/bus/stop/490003655Z/,523429,196121,EN5 3DG,2024-12-11 00:00:00+00:00
21407,528013.0,196204.000000,5243526,Hail Ride Belmont Avenue,HC91,490020358E,MOUNT PLEASANT,384,https://tfl.gov.uk/bus/stop/490020358E/,528013,196204,EN4 9LS,2024-12-11 00:00:00+00:00